body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

#bounds {
    height: 100px;
    width: 80%;
    margin: auto;
    background-color: lightblue;
}

#completed-bar {
    height: 15px;
    width: 100%;
    background-color: pink;

}

#percentage-marks {
    height: 20px;
    width: 100%;
    background-color: aliceblue;
}
/* svg {
    outline: 1px solid red;
} */

#grade-bar {
    height: 85px;
    width: 100%;
    background-color: lightgray;
}

#percentage-marks div {
    outline: 1px solid grey;
    height: 100%;
    width: 5%;
    float: left;
}

#F {
    width: 50% !important;
}
#Ap {
    width: 10% !important;
}

#inputs{
    display: block;
}



